html {
    min-height: 100%
}

body {
    margin: 0px 0px 1px 0px; /* the extra 1px allows the iOS inner/outer check to work */
    background: #000;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#controls {
    display: block;
    position: fixed;
    max-height: 70%;
    bottom: 10px;
    z-index: 100;
    width: 100%;
}

#controls-left, #controls-right {
    position: absolute;
/*    width: 40px;*/
    background-color: green;
    bottom: 0;
}

#controls-right {
    right: 0;
}

.items :last-child {
    margin-bottom: 0;
}

.item {
    background-color: red;
    margin-bottom: 5px;
    display: block;
    position: relative;
    cursor: pointer;
    height: 100%
}

.item #info {
    float: left;
}